/** {
	box-sizing: border-box;
}*/
body {
	vertical-align: middle;
	font-family: bpg_arial_2009;
	font-family: oswald;
	font-family: bpg_extrasquare_mtavruli_2009;
}

@font-face {
	font-family: "bpg_extrasquare_mtavruli_2009";
	src: local("bpg_extrasquare_mtavruli_2009"),
	  url("../fonts/bpg_extrasquare_mtavruli_2009.ttf")
  }




/* header style */

/* clear */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
header {
	height: 80px;
	margin-top: 0px;
	background: whitesmoke;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: oswald;
	z-index: 20;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-parent {
	display: inline-block;
	height: 100%;
	line-height: 100%;
	width: 80px;
	vertical-align: middle;
}
img {
	vertical-align: middle;
	height: 100%;
}

.nav-list {
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
	vertical-align: middle;
}


.header-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
	font-size: x-large;
	font-style: oblique;
	flex-direction: row;
}

.social-box {
	display: flex;
	width: 300px;
	height: 80px;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: row;
	margin: 0px 25px;
}

.burger {
	width: 61px;
	height: 61px;
	display: none;
	float: right;
	margin-right: 5px;
}

/* header style */




/* banner */
.box {
height: 800px;
width: 100%;
background: white;
display: block;
justify-content: center;
align-content: center;
line-height: 100%;
}

.first-box {
	height: 740px;
	width: 100%;
	display: block;
	justify-content: center;
	align-content: center;
	line-height: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	min-width: 1024px;
	z-index: 10;
}

.zaza {
	width: 1900px;
	height: 100%;;
	/* width: 100%; */
	display: inline-block;
}

.text-box {
	position: absolute;
	left: 100px;
	top: 70px;
	font-size: x-large;
	font-style: italic;
	color: white;
}


.annecy {
	position: absolute;
	height: 30px;
	width: auto;
	left: 100px;
	bottom: 70px;
}

/* banner */





/* video box */

.trailer-box {
	background-color:lightcyan;
	height: 560px;
	width: 100%;
	padding: 30px 0px;
	font-size: x-large;
	font-style: italic;
	display: inline-block;
}

.trailer-box h1{
	margin-left: 100px;
}

.videos-parent {
	padding: 30px 0px;
	height: 480px;
	width: 1900px;
	display: block;
}

section .trailer-box.container-second {
	width: 100%;
	margin-left: 100px;
	height: 200px;
}

.trailer-box .videos-parent .video-box {
height: 480px;
width: 720px;
margin: 0px 100px;
background-color: white;
vertical-align: middle;
text-align: center;
text-transform: uppercase;
text-decoration: overline;
display: flex;
}


.trailer-box .videos-parent .video-box.left{
	float:left;
	display: block;
}
.trailer-box .videos-parent .video-box.right{
	float:right;
	display: block;
}
/* video box */





/* four-box */
section .four-box {
	background-color:white;
	height: 300px;
	width: 1900px;
	padding: 30px 0px;
	display: flex;
}

.four-box-parent {
	padding: 30px 0px;
	height: 240px;
	width: 100%;
	display: block;
}


.box-photo {
	background-color: azure;
	height: 240px;
	width: 360px;
	display: inline-block;
	vertical-align: middle;
	margin: 25px 55px;
}

img {
	display: block;
	width: 100%;
}
/* four-box */



/* Responsive */

@media (max-width: 1024px) {
	.trailer-box {
		display: none;
	}
	.header-nav {
		position: fixed;
		width: 100%;
		height: calc(100% - 101px);
		top: 101px;
		left: -100%;
		/* left: 0; */
		background: gainsboro;
		margin-left: inherit;
		transition-property: left;
		transition-duration: 2s;
		transition-timing-function: ease-in-out;
		/* transition-delay: 1s; */
	}
	.header-nav.active {
		left: 0;
	}
	.burger {
		display: inline-block;
	}
  }

  @media (max-width: 480px) {
	article.box-photo {
		margin: 50px 55px;
		display:block
	}
	article.box-photo.first {
		margin: 25px 55px;
		display:block
	}
	article.box-photo.fourth {
		margin: 25px 55px;
		display:block
	}
  }
/* Responsive */