/** {
	box-sizing: border-box;
}*/
body {
	vertical-align: middle;
	font-family: bpg_arial_2009;
	font-family: oswald;
}

@font-face {
	font-family: "bpg_arial_2009";
	src: local("bpg_arial_2009"),
	  url("../fonts/bpg_arial_2009.ttf")
  }

/* header style */

/* clear */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
header {
			height: 80px;
/*			line-height: 80px;*/
			margin-top: 0px;
			background: whitesmoke;
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			font-family: oswald;
		}


.container {
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	vertical-align: middle;
}

.logo-parent {
	display: inline-block;
	height: 100%;
	line-height: 100%;
	width: 80px;
	vertical-align: middle;
}
img {
	vertical-align: middle;
	height: 100%;
}

.nav-list {
	display: inline-block;
	vertical-align: middle;
	margin-left: 50px;
	margin-right: 50px;
}


.header-nav {
	display: inline-block;
	vertical-align: middle;
	margin-left: 200px;
	margin-right: 200px;
	font-size: x-large;
	font-style: oblique;
}

.social-icons {
	background: red;
	display: inline-block;
	width: 300px;
	height: 100%;
	vertical-align: middle;
}

/* header style */

/* banner */
.box {
height: 800px;
width: 100%;
background: white;
display: flex;
justify-content: center;
align-content: center;
line-height: 100%;
}

.first-box {
	height: 740px;
	width: 1920px;
	display: flex;
	justify-content: center;
	align-content: center;
	line-height: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
}

.text-box {
	position: absolute;
	left: 100px;
	top: 70px;
	font-size: x-large;
	font-style: italic;
	color: white;
}


.annecy {
	position: absolute;
	height: 30px;
	width: auto;
	left: 100px;
	bottom: 70px;
}

/* banner */

/* video box */

.trailer-box {
	background-color:lightcyan;
	height: 640px;
	padding: 30px 0px;
	font-size: x-large;
	font-style: italic;
	display: block;
	/* font-family: bpg_arial_2009 */
}

.trailer-box h1{
	padding: 30px 0px;
}

.videos-parent {
	padding: 30px 0px;
	height: 480px;
	height: 100%;
	vertical-align: middle;
	display: flex;
}

.trailer-box .videos-parent .video-box {
height: 480px;
width: 720px;
margin: 0px 100px;
background-color: white;
text-align: center;
text-transform: uppercase;
text-decoration: overline;
}


.trailer-box .videos-parent .video-box.left{
	float:left;
	display: flex;
	/* flex-direction: column; */
}
.trailer-box .videos-parent .video-box.right{
	float:right;
	display: flex;
}
/* video box */

/* four-box */
.four-box {
	background-color:white;
	height: 300px;
	width: 100%;
	padding: 30px 0px;
	display: block;
}

.four-box-parent {
	padding: 30px 0px;
	height: 240px;
	width: 100%;
	display: flex;
}

.box-photo {
	background-color: azure;
	height: 240px;
	width: 360px;
	display: inline-block;
	vertical-align: middle;
	margiN: 0px 55px;
}

img {
	display: inline-block;
	width: 100%;
}
style {
	font-family:agre
}